body{
    margin:0;
    padding: 0;
    background: black;
    width: 100%;
    height: 100;
}
#room {
    /* margin:0;
    padding: 0 0 0 0; */
    width: 1920px;
    height: 1080px;
    background-color:lightblue;
}
#computer {
    position: absolute; 
    width: 300px;
    height: 300px;
    top: 500px;
    left: 1000px;
}
#chest {
    position: absolute; 
    width: 300px;
    height: 300px;
    top: 500px;
    left: 200px;
}
#home {
    visibility: hidden;
    position: absolute; 
    width: 200px;
    height: 300px;
    top: 25px;
    left: 25px;
}
#icon{
    height:50px;
    width:50px;
    position:absolute;
    visibility: hidden;
    background-color: pink;
    top:100px;
    left:50px;
}
#code{
    visibility: hidden;
    position: absolute; 
    top:40px;
    left: 30px;
}
#password{
    visibility: hidden;
    padding-top:100px;
    padding-left: 250px;
}
#lockScreen{
    position: absolute;
    visibility: hidden;
    height: 600px;
    width: 800px;
    left: 200px;
    top: 100px;
    background-color: white;
    
}
#dropboxlogin{
    display: flex;
    justify-content: space-around;
}
#passwordDiv{
    padding-top: 200px;
}
#close{
    height: 45px;
    width: 45px;
    top:20px;
    left: 20px;
}
#icons{
    text-align:center;
    padding-top: 100px;
}
#lock{
    height: 100px;
    width: 100px;
}
#key{
    height: 30px;
    width: 30px;
    position: absolute;
    visibility: hidden;
    left: 100px;
    top: 250px;
}

#file{
    height: 100px;
    width: 100px;
}

#homeScreen{
    position: absolute;
    visibility: hidden;
    height: 600px;
    width: 800px;
    left: 200px;
    top: 100px;
    background-color: white;
    background-image: url("homepage.png");
}

#fileOpen {
    height: 40px;
    width: 500px;
    position: absolute;
    top: 185px;
    left: 275px;
}

#fileName{
    color: white;
}

#fileDiv{
    padding-left: 20px;
    padding-top: 20px;
}

#code{
    position: absolute;
    visibility: hidden;
    height: 600px;
    width: 800px;
    left: 200px;
    top: 100px;
    background-color: white;
}

#codeSubmit{
    padding-left:320px;
}

#codePrompt {
    color:white;
}

#complete{
    visibility: hidden;
    padding-top: 400px;
    padding-left: 600px;
}

#buttons{
    padding-left:50px;
}

#codePic{
    padding-left:300px;
}

#endButton{
    border-radius: 50px;
    width: 200px;
    height: 50px;
    font-size: 2em;
    Font-Family: 'Cabin', Sans-Serif;
}

#endMessage{
    font-size: 5em;
    Font-Family: 'Cabin', Sans-Serif;
}

#endButtons{
    display: flex;
    justify-content: space-around;
    width: 600px;
    padding-left: 70px;
}