.body {
    background-color: rgb(208, 250, 202);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 70px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-shadow: 3px 3px rgb(31, 165, 19);
}

.message {
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 20px;
}

.message1 {
    margin-bottom: 5px;
}

.message2 {
    margin-top: 5px;
}

.tab {
    margin-left: 30px;
}

.link {
    margin: 30px;
}

.board {
    display: flex;
    flex-direction: column;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hiddenCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    margin: 20px;
    border-radius: 20%;
}

.flippedCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: cornflowerblue;
    margin: 20px;
    border-radius: 20%;
}

.pair1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(115, 162, 250);
    margin: 20px;
    border-radius: 20%;
}

.pair2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(248, 169, 248);
    margin: 20px;
    border-radius: 20%;
}

.pair3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(248, 219, 123);
    margin: 20px;
    border-radius: 20%;
}

.pair4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(231, 138, 109);
    margin: 20px;
    border-radius: 20%;
}

.pair5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(195, 128, 240);
    margin: 20px;
    border-radius: 20%;
}

.pair6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(248, 116, 138);
    margin: 20px;
    border-radius: 20%;
}

.pair7 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(95, 168, 107);
    margin: 20px;
    border-radius: 20%;
}

.pair8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    background-color: rgb(250, 99, 99);
    margin: 20px;
    border-radius: 20%;
}

.success {
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    background-color: rgb(120, 233, 101);
    z-index:999;
    border-radius: 20%;
    box-shadow: 4px 4px rgba(12, 99, 31, 0.63);
}

.center {
    left: 50%;
    top: 50%;
    position: absolute;
}

.successImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.start {
    background-color: rgb(191, 145, 235);
    margin-top: -150px;
    margin-left: -200px;
    width: 400px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 4px 4px rgba(71, 12, 99, 0.63);
}

.gameover {
    background-color: rgb(191, 145, 235);
    margin-top: -75px;
    margin-left: -125px;
    width: 250px;
    height: 150px;
    border-radius: 5%;
    box-shadow: 4px 4px rgba(71, 12, 99, 0.63);
}

.button {
    margin: 20px;
    margin-bottom: 5px;
    background-color: transparent;
    outline: none;
}

.notShown {
    display: none;
}